
p {
  background-color: black;
  color: white;
  width: 40px;
 
  
}

em {
 color: gray;
}

div {
margin: 40px 80px;
padding: 40px 80px;
width: 500px;
border-bottom-right-radius: 50px;
border-bottom-left-radius:30px;
border-top-left-radius:80px;
border-top-right-radius:1px;
border: 3px dashed gray;


}