body {
    background-color: rgb(0, 0, 0) ;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-left: 50px;
    text-align: justify;
    
}

p {
    margin-right: 1px;
    margin-left: 1px;
    font-size:18px;
    font-weight: thin;
    font-style: italic;
    text-align: left;
    letter-spacing: 130px;
    line-height: 10px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
    animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 500%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
  
}

75% {
  font-size: 500%;
  margin-left: 25%;
  width: 150%;
}
